* {
    padding: 0;
    margin: 0;
    font-family: ' poppins', sans-serif;
}

body {
    background-color: black;
    
}

.main {
    background-image: url(imkl.jpg);
    background-position: center center;
    background-size: max(1200px 100vw);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vh;
    position: relative;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.69;
    background-color: rgb(7, 2, 2);
    position: absolute;
    top: 0;
}

nav {

    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;

}

nav button {
    border: 0;
    outline: 0;
    background: black;
    color: #fff;
    padding: 7px 30px;
    font-size: 18px;
    border-radius: 4px;
    margin-left: 10px;
    border: 1px solid whitesmoke;
    cursor: pointer;

}

.hero {
    font-family: sans-serif;
    font-family: 'poppins ', sans-serif;
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child {
flex-wrap: wrap;

    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    padding: 34px 0;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    font-weight: bold;
    background-color: gray;
    z-index: 20;
}

.btn {
    padding: 3px 40px;
    font-weight: bold;
    color: #fff;

}


.btn-red {

    background-color: red;
    color: #fff;
    padding: 9px 39px;
    font-size: 20px;
    border-radius: 4px;
    border: #414141;
    cursor: pointer;

}


.btn-redd {
    background-color: red;
    color: #fff;
    padding: 9px 39px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-redd::after {
    content: "\f105";
    font-family: "font Awesome 5 Free";
}

.hero-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.main input {
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 22px;
    color: white;
    border-radius: 4px;
    background-color: rgb(23, 23, 23, 0.7);
    border: 1px solid rgba(23, 23, 23, 0.7);
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.box {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}
   
 /* @media screen and (max-width:1300px){

    .box{
        flex-wrap: wrap;
    } .secimg img {
        width: 305px;
        
    }
    .secimg video {
        width: 305px;
        
    }
    .hero> :nth-child(2) { 
        
         font-size: 34px; 
        
     }.hero> :nth-child(2) {
        
        font-size:18px;
     }
        
      .hero-button { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px; 

}
.faq h2{
    text-align: center;
    font-size: 32px;

}
footer {
    max-width: 90vw;
}
.footer-item{
    align-items: center;
}

}    
@media screen and (max-width:375px){

   /* .box{
       flex-wrap: wrap;
   } */
   /* .hero> :nth-child(2) { 
       
        font-size: 4px; 
       
    }.hero> :nth-child(2) {
       
       font-size:8px;
    }
       
     .hero-button { 
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: 16px; 

}
} */ 


.secimg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg {

    position: relative;
}

.secimg video {
    width: 555px;
    position: absolute;
    right: 0;
}

section.box>div {
    display: flex;
    flex-direction: column;
    padding: 34 0;
}

section.box>div :first-child {
    font-size: 48px; 
    font-weight: bolder;
}

section.box>div :nth-child() {

    font-size: 41px;
    font-weight: bolder;
}

.box {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.faq {
    background: black;
    color: white;
}

.b {
    padding: 3px 40px;
    font-weight: 400;
    font-weight: bold;
    color: #fff;

}

.hero-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

    .footer{
        display: flex;
     flex-direction:row; 
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
    }


     
 
.footer-item {
    align-items: center;
}

.faq h2 {
    text-align: center;
    font-size: 32px;

}

.faqbox:hover {
    transition: all 1s ease-out;
    background-color: #414141;
}

.faqbox {
    font-size: 24px;
    justify-content: space-between;
    display: flex;
    background: gray;
    padding: 14px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;

}




.footer a {
    font-size: 19px;
    color: white;

}


.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px; 
}

h3 {
    text-align: center;
}

.hero-button input {

    
    padding: 7px 101px 8px 14px; 
    font-weight: 900;
    font-size: 22px;
    border-radius: 4px;
    background-color: rgb(23, 23, 23, 0.7);
    border: 1px solid rgba(71, 59, 59, 0.7);
}

footer {
    color: white;
}

footer {
    color: #fff;
    max-width: 60vw;
    margin: auto;
    
}

footer a {
    text-decoration: underline;
    color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 80px;
    color: #fff;
}

.secimg img {
    width: 305px;

}

.secimg video {
    width: 305px;

}

.hero> :nth-child(2) {

    font-size: 34px;

}

.hero> :nth-child(2) {

    font-size: 18px;
}

.hero> :nth-child(3) {
    font-size: 18px;

}

.hero-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.faq h2 {
    text-align: center;
    font-size: 32px;
}

footer {
    max-width: 90vw;
}

.footer-item {
    align-items: center;
}




.footer-item {
    display: flex;
    gap: 23px;  
    padding: 9px 9px; 
    justify-content: center;
    align-items: center;
}


footer .questions {
    
    padding: 34px;  
    text-decoration: underline;
 }
    
.b {

    background-color: black;
    color: white;
    padding: 9px 9px; 
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid white;
    margin: 4px;

    
}

p {
    padding: 9px 9px;
    
}
@media screen and (max-width:375px){

 
    
    
    section.box>div :first-child {
        font-size: 18px;
        flex-wrap: wrap; 
        font-weight: bolder;
    }

    .hero> :first-child {
        font-size: 13px;

    flex-wrap: wrap;
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
        padding: 34px 0;
    }
    .footer-item{
        display:flex;
        flex-direction: column;
        gap:23px;
    }


    nav{

         display: flex;
        flex-direction:row;
         gap:8px;    

    }
    .hero> :nth-child(2) { 
        
         font-size:19px; 
        
     }.hero> :nth-child(2) {
        
        font-size:19px;
     }
     .hero> :nth-child(3){
        font-size: 19px;
     }
.hero-button input {
    width:30%; 
    padding: 7px 101px;
     /* 8px 14px;  */
    font-weight: 900;
    font-size: 9px;
    border-radius: 4px;
    background-color: rgb(23, 23, 23, 0.7);
    border: 1px solid rgba(71, 59, 59, 0.7);
    /* flex-direction: row; */

}
.footer a {
   
    font-size: 19px;
    color: white; 
}
   .footer-item{
    display: flex;
    flex-direction: column;
    gap:0px;
   }
}
.box {
    display: flex;
    flex-direction: column;
    gap: 9px;
    /* justify-content: center;
    height: 500px;
    width: 70vw;
    margin: auto;
    color: white;
    flex-wrap: wrap; */
 }
 .box .div .span{
    font-size: 13px;
 }


@media screen and (max-width:412px){
    section.box>div :first-child {
        font-size: 18px;
        flex-wrap: wrap; 
        font-weight: bolder;
    }
}
@media screen and (max-width:540px){
    section.box>div :first-child {
        font-size: 18px;
        flex-wrap: wrap; 
        font-weight: bolder;
    }
    .footer-item{
        display: flex;
        flex-direction: column;
        gap: 9px;
    }
}

@media  screen and (max-width:414px){


    .nav{
        display:flex;
        flex-direction:column;
    }

    .hero> :nth-child(2) { 
        
         font-size: 19px; 
        
     }.hero> :nth-child(2) {
        
        font-size:19px;
     }
     .hero> :nth-child(3){
        font-size: 19px;
     }
.hero-button input {
    width:30%;
    padding: 7px 101px ;
    font-weight: 900;
    font-size: 9px;
    border-radius: 4px;
    background-color: rgb(23, 23, 23, 0.7);
    border: 1px solid rgba(71, 59, 59, 0.7);


}
 .box {
      justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 9px;
         height: 500px;
        width: 70vw;
        margin: auto;
        color: white;
        flex-wrap: wrap;
     }

    }


@media  screen and (max-width:414px){
    nav{
        gap:30px;
        
    }

    .hero> :nth-child(2) { 
        
         font-size: 19px; 
        
     }.hero> :nth-child(2) {
        
        font-size:19px;
     }
     .hero> :nth-child(3){
        font-size: 19px;
     }
.hero-button input {
    width:30%;
    padding: 7px 101px;
    font-weight: 900;
    font-size: 9px;
    border-radius: 4px;
    background-color: rgb(23, 23, 23, 0.7);
    border: 1px solid rgba(71, 59, 59, 0.7);
}
    .box {
        display: flex;
        justify-content: center;
        height: 500px;
        width: 70vw;
        margin: auto;
        color: white;
        flex-wrap: wrap;
     }

    }




@media  screen and (max-width:430px){
    nav{
        gap:30px;
    }

    .hero> :nth-child(2) { 
        
         font-size: 19px; 
        
     }.hero> :nth-child(2) {
        
        font-size:19px;
     }
     .hero> :nth-child(3){
        font-size: 19px;
     }
     .hero-button input {
     width:30%; 
     padding: 7px 101px ;
    font-weight: 900;
    font-size: 13px;
    border-radius: 4px;
    background-color: rgb(23, 23, 23, 0.7);
    border: 1px solid rgba(71, 59, 59, 0.7);
     }
     .box {
        display: flex;
        flex-direction:column ;
        gap:20px;
        justify-content: center;
        height: 500px;
        width: 70vw;
        margin: auto;
        color: white;
        flex-wrap: wrap;
     }
     .footer-item{
        display: flex;
        flex-direction: column;
        gap:0px;
     }
    }
    @media  screen and (max-width:412px){

    nav {
        gap:30px;

        max-width: 80vw;
        justify-content: space-between;
        margin: auto;
        /* display: flex; */
        align-items: center;
        padding: 10px 0;
        height: 62px; 
    }
}
    

     
        
















     
    